* {
    margin: 0;
    padding: 0;
}
.page{
    padding-left: 30px;
    padding-right: 30px;
}
.container1 {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: end;
    background-color: red;
}

.container11 {
    width: 50%;
    height: 30px;
    display: flex;
    background-color: blue;
}

.container2 {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: end;
    background-color: green;
}

.container21 {
    width: 50px;
    height: 30px;
    display: flex;
    background-color: blue;
}

.container3 {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: green;
}

.container31 {
    width: 50px;
    height: 30px;
    display: flex;
    background-color: red;
}

.container32 {
    width: 50px;
    height: 30px;
    display: flex;
    background-color: blue;
}

.container4 {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: end;
    background-color: red;
}

.container41 {
    width: 50px;
    height: 30px;
    display: flex;
    background-color: blue;
}

.container5 {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: green;
}

.container51 {
    width: 20px;
    height: 20px;
    display: flex;
    margin-top: 5px;
    background-color: red;
}

.container6 {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: red;
}

.container61 {
    width: 50px;
    height: 30px;
    display: flex;
    background-color: blue;
}

.container7 {
    width: 100%;
    height: 30px;
    display: flex;
}

.container71 {
    width: 50px;
    height: 30px;
    display: flex;
    background-color: red;
}

.container72 {
    width: 100%;
    height: 30px;
    display: flex;
    background-color: blue;
}

.container721 {
    width: 100%;
    height: 10px;
    display: flex;
    margin-top: 10px;
    background-color: green;
}

.container8 {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: green;
}

.container81 {
    width: 50px;
    height: 30px;
    display: flex;
    background-color: orange;
}

.container9 {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
}

.container91 {
    width: 10px;
    height: 30px;
    display: flex;

    background-color: green;
}