* {
    margin: 0;
    padding: 0;

}

.page {
    font-family: 'Calibri';
    justify-content: center;
}

.appBar {
    margin-top: 8px;
    margin-bottom: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-left: 150px;

}

.p1 {
    margin-left: 30px;
    font-weight: 700;
    opacity: 70%;

}

.icon {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left: 150px;
}

#icon {
    color: #1DA1F2;
    font-size: 20px;
}

.button {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 100px;
}

.button1 {
    padding-top: 6px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    border: 0;
    background-color: #1DA1F2;
    color: white;
    font-weight: bold;
}

.body {
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    background-color: #E1E8ED;
}

.box1 {
    width: 290px;
    height: 250px;
    background-color: white;
    margin-right: 10px;
}

.background_image_box {
    height: 65%;
}

.background_image {
    height: 60%;
    width: 100%;
    background-color: #a409ec;

}

.image {
    width: 100%;
    height: 100%;
}

.profile {
    display: flex;
    position: relative;
    bottom: 20px;
    left: 20px;
}

.avatar {
    display: flex;
    height: 60px;
    width: 60px;
    border-width: 10px;
    border-color: white;


}

.avatar_image {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: solid white;

}

.id {
    padding-top: 25px;
    padding-left: 20px;

}

.twitter_info {
    display: flex;
    justify-content: space-around;
    font-weight: bold;

}

.box2 {
    width: 580px;
    height: 100%;
    background-color: white;

}

.row {
    display: flex;
    padding: 15px;
    width: 83%;
}

.avatar_box2 {
    display: flex;
    height: 45px;
    width: 45px;
    border-radius: 50px;
}

.text {
    margin-left: 15px;
}

.date_text {
    display: flex;
    margin-bottom: 10px;
}

.box3 {
    background-color: white;
    width: 250px;
    height: 100%;
    margin-left: 10px;
    padding: 15px;
}

.row1 {
    display: flex;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 83%;
}

.button2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 50px;
    border: 1px solid #1DA1F2;
    background-color: white;
    color: #1DA1F2;
}